@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);
@import url(https://fonts.googleapis.com/css?family=Poppins);

body {
    font-family: 'NanumSquare', sans-serif;
    background-color: #121212;
    color: #ffffff;
    padding: 0;
    margin: 0 auto;
    word-break: break-all;
}

.d-sign {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.d-sign h1 {
    font-size: 30px;
    padding-bottom: 15px;
}

.d-sign p {
    font-size: 15px;
    opacity: 0.6;
    line-height: 30px;
    padding-bottom: 50px;
}

.d-sign a {
    color: #a07eee;
    text-decoration: none;
}

.d-sign i {
    padding-left: 15px;
}

.d-sign a:hover {
    color: #a07eee;
    text-decoration: underline;
}

.d-sign-input-box {
    padding-bottom: 15px;
}

.d-input {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    background-color: transparent;
    border: 1px solid #ffffff74;
    border-radius: 30px;
    font-size: 13px;
    width: 300px;
    text-align: center;
    color: #ffffff;
}

.d-input:focus {
    border: 1px solid #ffffff;
    transition: 0.1s;
    outline: none;
    color: #ffffff;
}

.d-sign-post-box {
    padding-top: 20px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-nav {
    padding: 1.4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-nav .logo {
    padding-left: 55px;
    font-family: 'Poppins';
}

.d-nav .menu-icon {
    display: none;
}

.d-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.d-nav li {
    list-style: none;
    transition: all 0.2s ease-in-out;
}

.d-nav a {
    text-decoration: none;
    color: #ffffff;
}

.d-nav a:hover {
    text-decoration: none;
    color: #ffffff;
}

@media only screen and (max-width: 650px) {
    .d-nav {
        flex-direction: column;
    }

    .d-nav .logo {
        padding-left: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .d-nav .menu-icon {
        display: block;
        font-size: 1.6rem;
    }

    .d-nav ul {
        display: none;
        flex-direction: column;
        padding-top: 1rem;
        width: 100%;
    }

    .d-nav ul.open {
        display: flex;
    }

    .d-nav li {
        padding: 0.6rem;
        text-align: center;
    }
}

.d-table-sec {
    padding-left: 10px;
    padding-right: 10px;
}

.d-table {
    width: 100%;
    border-collapse: collapse;
    margin: 50px auto;
}

.d-table a {
    color: #ffffff;
    text-decoration: none;
}

.d-table a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.d-table-btn {
    background-color: #df5050;
    padding: 5px;
    font-size: 12px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.d-table-btn-unblock {
    background-color: #7269f3;
    padding: 5px;
    font-size: 12px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.d-table tr:nth-of-type(odd) {
    background: rgb(23, 23, 23);
}

.d-table th {
    background: rgb(0, 0, 0);
    color: white;
}

.d-table td,
.d-table th {
    padding: 10px;
    border: none;
    text-align: left;
    font-size: 15px;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    .d-table {
        width: 100%;
    }

    .d-table table,
    .d-table thead,
    .d-table tbody,
    .d-table th,
    .d-table td,
    .d-table tr {
        display: block;
    }

    .d-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .d-table tr {
        border: 1px solid #ccc;
    }

    .d-table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .d-table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-column);
        color: #000;
    }
}

.d-header {
    padding-top: 55px;
    padding-left: 10px;
    padding-right: 10px;
}

.d-header h1 {
    font-size: 40px;
}

.d-noti {
    margin-top: 41px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgb(23, 23, 23);
    margin-bottom: -24px;
}

.d-noti p {
    font-size: 15px;
}

.d-noti i {
    padding-right: 15px;
}